#include "Resources.RH"

STRINGTABLE LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
BEGIN
	IDS_CLIENTERRORSTRING "Клиентская ошибка"
	IDS_SERVERERRORSTRING "Серверная ошибка"
END

STRINGTABLE LANGUAGE LANG_RUSSIAN, 1
BEGIN
	IDS_CLIENTERRORSTRING "Клиентская ошибка"
	IDS_SERVERERRORSTRING "Серверная ошибка"
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEOS VOS_NT
FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "FFFF04B0"
		BEGIN
			VALUE "FileVersion", VER_FILEVERSION_STR
			VALUE "ProductVersion", VER_PRODUCTVERSION_STR
			VALUE "CompanyName", RESOURCE_COMPANYNAME
			VALUE "FileDescription", RESOURCE_FILEDESCRIPTION
			VALUE "InternalName", RESOURCE_INTERNALNAME
			VALUE "LegalCopyright", RESOURCE_LEGALCOPYRIGHT
			VALUE "OriginalFilename", RESOURCE_ORIGINALFILENAME
			VALUE "ProductName", RESOURCE_PRODUCTNAME
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0xFFFF, 0x04B0
	END
END
